body {
  font-family: "Outfit", sans-serif;
  text-align: center;
  background-color: hsl(212, 45%, 89%);
  padding-top: 10%;
  padding-bottom: 10%;
}
div {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  width: 90%;
  max-width: 400px;
  height: 100%;
  margin: auto;
}
img {
  border-radius: 10px;
  width: 90%;
  margin: 5%;
}
h2 {
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  margin: 0 15% 5% 15%;
}
p {
  font-size: 15px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  margin: 0 15% 5% 15%;
  padding: 0 4% 10% 4%;
}

/* @media (min-width: 1440px) {
} */
